@model Producto

<form asp-controller = "Producto" asp-action = "Create">
<label asp-for="DatosProducto" class="control-label"></label>
     <input asp-for="DatosProducto" class="form-control" />

<label asp-for="Nombre" class="control-label"></label>
     <input asp-for="Nombre" class="form-control" />

<label asp-for="Precio" class="control-label"></label>
     <input asp-for="Precio" class="form-control" />

<label asp-for="Cantidad" class="control-label"></label>
     <input asp-for="Cantidad" class="form-control" />


<div class="form-group">
        <button type="submit" class="btn btn-primary">Calcular</button> 
    </div> 


</form>
<h1>@ViewData["Message3"]</h1>
<br>
<h2>@ViewData["Message1"]</h2>
<br>
<h2>@ViewData["Message2"]</h2>

